@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('/images/bg-header-mobile.png');
    background-repeat: no-repeat;
}

.logo {
    position: relative;
    top: 15%;
    text-align: center;
}

.Txt {
    position: relative;
    top: 20%;
    text-align: center;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-bottom: 5vh;
}

.Txt:nth-child(5) {
    padding-top: 10vh;
}

.Txt p,
.box-Txt p {
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 0.95em;
    line-height: 150%;
}

.Txt h1 {
    padding-bottom: 5vw;
    font-size: 1.7em;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.box-Txt h1 {
    padding-bottom: 3vw;
    font-size: 1.7em;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}

.btns {
    position: relative;
    top: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns button:nth-child(1) {
    margin-bottom: 3vh;
    background-color: hsl(171, 66%, 44%);
    border-bottom: 3px solid hsl(171, 52%, 34%);
    box-shadow: 2px 5px 16px 0px hsl(171, 52%, 34%), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.btns button {
    border: none;
    border-bottom: 3px solid hsl(233, 95%, 60%);
    color: white;
    border-radius: 10vh;
    padding: 2vh 5vh;
    width: 35vh;
    background-color: hsl(233, 100%, 69%);
    box-shadow: 2px 5px 16px 0px hsl(233, 100%, 69%), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.image {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.content {
    width: 100%;
    height: 100vh;
}

.image-monitor {
    width: 100%;
    height: 30%;
    background-image: url('/images/image-computer.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.Img {
    width: 80%;
    height: 80%;
}

.box-Txt {
    padding-right: 8vw;
    padding-left: 8vw;
    padding-bottom: 5vh;
}

.box {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.box img {
    padding-bottom: 5vw;
}

.box-img {
    padding-bottom: 5vw;
}

.company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.company img {
    padding-bottom: 8vh;
}

.footer-con {
    width: 100%;
    height: 50vh;
    margin-top: 20vh;
    background-color: hsl(201, 11%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

.logo-footer {
    text-align: center;
}

.logo-footer-img {
    width: 50%;
}

.social {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (min-width: 370px) {
    header {
        background-image: url('/images/bg-header-desktop.png');
    }

}

@media screen and (min-width: 500px) {
    .company {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .company-img {
        width: 15%;
    }

    .image-monitor {
        height: 40%;
        margin-top: 0;
    }

    .content {
        height: 120vh;
    }

}

@media screen and (min-width: 800px) {
    .work {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;

    }


    .box {
        width: 33%;
        height: 100%;
        padding: 0;
        margin-top: 10vh;
    }

    .box-Txt {
        padding-right: 5vw;
        padding-left: 5vw;
        padding-bottom: 0;
        height: 80%;
    }

    .box-Txt h1 {
        font-size: 1.2em;
    }

    .box-Txt p {
        height: 50%;
    }

    .box-img {
        width: 100%;
        height: 25%;
        padding-bottom: 0;
    }

    .btns {
        position: relative;
        width: 100%;
        top: 28%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .btns button:nth-child(1) {
        margin-bottom: 0;
    }

    .image-monitor {
        height: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .Txt {
        padding-right: 20vw;
        padding-left: 20vw;
        padding-bottom: 5vh;
    }

    .Txt p,
    .box-Txt p {
        font-size: 1.3em;
    }

    .Txt h1 {
        padding-bottom: 5vw;
        font-size: 2em;

    }

    .box-Txt h1 {
        padding-bottom: 3vw;
        font-size: 2em;
    }

    .image {
        padding-bottom: 0;
    }

    .content {
        height: 130vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-Txt {
        padding-left: 0;
        padding-right: 0;
    }

    .image-monitor {
        height: 65%;
        position: relative;
        top: 0;
        left: -5%;
    }

    .footer-con {
        height: 20vh;
        flex-direction: row;
    }

    ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    li {
        width: 33%;
        text-align: center;
    }

    .social {
        width: 45%;
    }

    .work {
        height: 60vh;
        display: flex;
        align-items: center;

    }
}